[submodule "flipper_toolbox"]
	path = flipper_toolbox
	url = https://github.com/evilpete/flipper_toolbox
[submodule "Sub-GHz/flipperzero-bruteforce"]
	path = Sub-GHz/flipperzero-bruteforce
	url = https://github.com/tobiabocchi/flipperzero-bruteforce
[submodule "BadUSB/Jakoby_BadUSB"]
	path = BadUSB/Jakoby_BadUSB
	url = https://github.com/I-Am-Jakoby/Flipper-Zero-BadUSB
[submodule "BadUSB/Flipper_Zero_Badusb_hack5_payloads"]
	path = BadUSB/Flipper_Zero_Badusb_hack5_payloads
	url = https://github.com/nocomp/Flipper_Zero_Badusb_hack5_payloads/
[submodule "BadUSB/BadUSB-FalsePhilosopher"]
	path = BadUSB/BadUSB-FalsePhilosopher
	url = https://github.com/FalsePhilosopher/BadUSB-Playground
